@use 'sass:color';

$white: #fff;
$black: #000;
$green: #2ec651;
$accent: #008ebd;
$accent-light: #33a8d4;
$accent-dark: #006a91;
$accent-1: #0b74de;
$accent-2: #0b75de39;
$black-05: rgba(0, 0, 0, 0.05);
$black-10: rgba(0, 0, 0, 0.1);
$white-10: rgba(255, 255, 255, 0.1);
$gray-100: #f5f5f5;
$gray-200: #e0e0e0;
$gray-300: #c4c4c4;
$gray-400: #999;
$gray-500: #666;
$gray-600: #333;
$gray-700: #222;
$gray-100-200: color.mix($gray-100, $gray-200, 40%);

// offsets
$offset: 1.25rem;
$padding-offset: .9375rem;

// other
$radius: .4375rem;
$border: .1875rem solid $gray-400;
$border-small: .0625rem solid $gray-400;

// width and height website | required
$width-web: 1920; // обязательно без единицы измерения
$width-min-web: 360; // обязательно без единицы измерения
$height-web: 67.5rem;

:root {
	--container: 61.25rem;
	--container-offset: .9375rem;
	--transition: 0.2s ease-in;
	--transition-menu: 0.4s ease-in-out;
	--100vw: calc(100vw - var(--scrollbar-width));
}
