@use '../base'as *;
@use '../mixins'as *;
@use '../settings'as *;

.content {
	&__block {
		border-bottom: $border;
		padding-bottom: $padding-offset;

		&--commands {
			ul {
				li:not(:last-child) {
					margin-bottom: rem(4);
				}
			}
		}
	}
}



