/* stylelint-disable value-keyword-case */
@use '../base'as *;
@use '../mixins'as *;
@use '../settings'as *;

.header {
	padding-block: rem(30);

	@include laptop-min {
		padding-block: rem(20);
	}

	&__inner {
		@include fhc;

		justify-content: space-between;
	}

	&__logo {
		a {
			display: inline-flex;
			column-gap: rem(10);
			align-items: center;
			text-decoration: none;

			@include focus;
		}

		img {
			border-radius: 100%;

			@include laptop-min {
				width: rem(60);
				height: rem(60);
			}

			@include mobile-max {
				width: rem(50);
				height: rem(50);
			}
		}

		h1 {
			margin: 0;

			@include laptop-min {
				font-size: rem(26);
			}

			@include mobile-max {
				font-size: rem(20)
			}

			@include mobile-min {
				font-size: rem(18);
			}
		}
	}

	&__actions {
		@include fcsb;

		column-gap: rem(10);
	}
}

