@use '../base'as *;
@use '../mixins'as *;
@use '../settings'as *;
@use 'sass:color';

.theme {
	@include focus;

	&__icon {
		display: none;
		width: rem(30);
		height: rem(30);

		@include mobile-max {
			width: rem(25);
			height: rem(25);
		}

		@include focus;

		svg {
			width: 100%;
			height: 100%;
		}
	}
}

.dark-theme {
	color-scheme: dark;

	.page-body {
		color: $white;
		background-color: $black;
		transition: color var(--transition), background-color var(--transition);
	}

	* {
		border-color: $white;
	}


	.menu {
		@include laptop-min {
			background-color: $gray-600;
		}
	}


	.footer {
		background-color: $gray-600;
	}

	.theme-icon {
		path {
			fill: $white;
		}
	}

	.translate__link::after {
		border-color: $white transparent transparent transparent;
	}

	.code {
		background-color: color.adjust($gray-200, $lightness: -64%);
	}
}